body{
    background:#22272e;
}
.container{
    padding: 50px 30px;
    text-align: center;
}
.slider-wrapper{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto 20px;
}
.slide-line{
    display: flex;
    position: relative;
    width: 60vw;
    left: 0;
    transition:  0.5s;
}
.slide-wrapper{
    width: 60vw;
}
.slide-wrapper img{
    margin: 0 auto;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0px 5px 1px black;
}
.slider-wrapper .slide-line .under-slider .dots{
    display: inline-block;
    vertical-align: middle;
}
.under-slider{
    display: flex;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    overflow: hidden;
}
.under-slider .under-slide-line{
    display:flex;
    position: relative;
    left:0;
    transition: 0.5s;
    width: 60vw;
    height: 30px;
}
.under-slider .under-slide-line .slide-wrapper{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 30px;
}
.under-slider .under-slide-line .slide-wrapper span{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 60vw;
    overflow: hidden;
    color: #fff;
    text-align: left;
}

.dots{
    background-color: #22272e;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 200px;
    transform: translateX(-200px);
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(100, 100, 250);
    margin: 5px;
}
.dot:hover{
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.dot:active{
    outline: 1px solid rgb(100, 100, 250);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.dot::before{
    content: " ";
    display: block;
    transform: translate(-5px, -5px);
    margin: 0 auto;
    width: 20px;
    height: 10px;
}
.dot::after{
    content: " ";
    display: block;
    margin: 0 auto;
    transform: translate(-5px, -5px);
    width: 20px;
    height: 10px;
}
.active{
    background-color: #22272e;
    outline: 1px solid rgb(100, 100, 250);
}
/* sfsdfdsfdsf */